html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Tahoma, sans-serif;
    color: #cacaca;
    background-color: #18191a;
}

input[type=radio] {
    display: none;
}

.main {
    height: 100vh;
}

.accordion {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.accordion__inner {
    padding: 1.5rem 2rem;
    border-radius: .8rem;
    background-color: #242526;
}

.container {
    max-width: 100rem;
    width: 100%;
    padding: 0 2rem;
}

.accordion__title {
    font-size: 3rem;
    font-weight: 900;
}

.meme__list {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0;
}

.meme__item {
    padding: 1rem 0;
    border-top: .1rem solid #b0b3b81a;
}

.meme__item__header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.meme__item__header__arrow {
    opacity: 1;
    transition: all .3s ease-in;
}

.meme__item__body {
    display: flex;
    justify-content: center;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #18191a;
    border-radius: .8rem;
    height: 0;
    opacity: 0;
    transition: all .2s ease-in;
}

input[type=radio]:checked + .meme__item > .meme__item__body {
    height: 45rem;
    margin: 2rem 0 1rem;
    padding: 1rem 0;
    opacity: 1;
}

input[type=radio]:checked + .meme__item .meme__item__body__image {
    opacity: 1;
    width: 100%;
}

.meme__item__body__image {
    max-width: 40rem;
    width: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .6s, width .6s ease-in;
}



@media (min-width: 821px) {
    .meme__item {
        cursor: pointer;
    }
    
    .meme__item__header__arrow {
        opacity: 0;
    }

    .meme__list:hover .meme__item__header__arrow {
        opacity: 1;
    }
    
    .meme__item:hover .meme__item__header__arrow {
        transform: rotate(45deg);
        color: #535353;
    }
    
    .meme__item:hover .meme__item__body {
        height: 45rem;
        margin: 2rem 0 1rem;
        padding: 1rem 0;
        opacity: 1;
    }
    
    .meme__list:hover input[type=radio]:checked + .meme__item .meme__item__header__arrow {
        transform: rotate(225deg)
    }
    
    .meme__item:hover .meme__item__body__image {
        opacity: 1;
        width: 100%;
    }
}



@media (max-width: 820px) { 
    .container {
        padding: 0;
    }

    .meme__list:focus input[type=radio]:checked + .meme__item .meme__item__header__arrow {
        color: #535353;
        transform: rotate(225deg)
    }
}



@media (max-width: 400px) { 
    .accordion__title {
        font-size: 2.7rem;
    }

    .meme__item__header {
        font-size: 1.5rem;
        padding: 0;
    }
    
    input[type=radio]:checked + .meme__item > .meme__item__body {
        height: 30rem;
    }
}