html {
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 10px;
}

input[type=radio] {
    position: absolute;
    left: -999px;
}    

.container {
    max-width: 768px;
    width: 100%;
    padding: 0 20px;
}

.accordion {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.accordion__title {
    font-size: 3rem;
    font-weight: 900;
}

.meme__list {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
}

.meme__item {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #dfdfdf;
    cursor: pointer;
}

.meme__item__header {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
}

.meme__item__header:after {
    content: "";
    position: absolute;
    right: 10px;
    transition: all .3s ease-in;
}

.meme__list:hover .meme__item__header:after {
    content: "+";
}

.meme__item:hover .meme__item__header:after {
    content: "-";
}

.meme__item__body {
    padding: 10px 0 0;
    font-size: 1.5rem;
}

.meme__item__body {
    display: none;
}

/* показываем тело при наведении */
.meme__item:hover .meme__item__body {
    display: block;
}

/* обрабатываем выбранный */
input[type=radio]:checked + .meme__item > .meme__item__body {
    display: block;
}

.meme__list:hover input[type=radio]:checked + .meme__item > .meme__item__header:after {
    content: "-";
}